{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "prettier/prettier": "error",
    "import/no-unresolved": [
      2,
      {
        "commonjs": true,
        "amd": true
      }
    ],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "no-console": "error"
  }
}
